#darkness-adjuster {
    background: none;
    box-shadow: 0 0 10px black;
    height: 38px !important;

    .window-content {
        background: rgba(0, 0, 0, 0.5);
        border: 1px solid black;
        border-radius: 5px;
        padding: 6px 12px 0;

        .slider {
            height: 6px;

            .noUi-base {
                background: #ecc1b3;

                .noUi-origin {
                    &[disabled="disabled"] {
                        pointer-events: none;
                    }

                    .noUi-handle {
                        background: none;
                        border: none;
                        box-shadow: none;
                        color: white;
                        cursor: pointer;
                        font-size: 16px;
                        height: 14px;
                        width: 14px;
                        top: -5px;
                        right: -7px; // Half width
                        text-shadow: 0 0 4px black;

                        &.threshold_darkness {
                            font-size: 14px;
                        }
                        &.threshold {
                            &_bright-light, &_darkness {
                                cursor: default; // Change to pointer when these become adjustable
                            }
                        }

                        &.darkness-level {
                            background: #c85019;
                            border: 1px solid black;
                            border-radius: 2px;
                            box-shadow: 1px 1px 4px black;
                            height: 12px;
                            width: 12px;
                            right: -6px; // Half width
                            top: -4px;
                        }

                        &::before, &::after {
                            background: none;
                        }

                        i.fas {
                            cursor: default; // Change to pointer when these become adjustable
                            position: absolute;
                            top: 0;
                            opacity: 0.6;

                            &.fa-sun {
                                left: -1px;
                            }
                        }

                        .noUi-touch-area {
                            cursor: pointer;
                        }
                    }
                }

                .noUi-connect {
                    &.range {
                        &_bright-light {
                            background: #fdfbd3;
                        }
                        &_darkness {
                            background: #16193a;
                        }
                    }
                }
            }

            .noUi-pips {
                height: 12px;
                .noUi-marker {
                    &.noUi-marker-large {
                        height: 12px;
                    }
                }
                .noUi-value {
                    display: none;
                }
            }
        }
    }
}
